classpath
.project
.settings/
target/
.idea/
hutch.xml
fhutch.xml
settings.xml
*.iml
.DS_store

#dev data
vdata/

#toolkit
.env
.staging-env
*pyc
*log
*log*
venv
tmp.py

pictures/
clinicaltrials.csv
tmp_*py

watch.sh
*sublime*
